@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  margin: auto;
}

nav {
  display: flex;
  background-color: #1F2937;
  padding: 16px;
}

nav ul {
  display: flex;
  gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  font-size: 18px;
  text-decoration: none;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}
